* reset */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1em;

}

body{

	font-family:helvetica, sans-serif;
	line-height: 1.4;

}

header {
	background:  #17EBCB;
	width: 100%;
}
.logo img {
	display: block;
	height: 120px;
	
}
.menu-principal{
	color: black;
	
}
/* busca */
.busca {
	overflow: hidden; 
}
	.busca input {
		border: 1px solid #CCC;
		border-bottom-color: #aaa;
		border-right-width: 0;
		border-radius: 5px 0 0 5px;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
		color: #555;
		
		height: 1.7em;
		padding: 0 0.16em;

		float: left;
	
	}
	.busca button {
		background: #f0f0f0;
		background: linear-gradient(white, white 50%, #eee);

		border: 1px solid #CCC;
		border-bottom-color: #aaa;
		border-radius: 0 5px 5px 0;
		color: #777;
		font-size: 90%;

		line-height: 1.667em;
		height: 1.888888889em;
		padding: 0 0.5em;
		text-align: center;
		text-transform: lowercase;

		float: left;
	}
		.busca button:hover {
			color: #0669de;
		}

/* categorias */
.noticias {
	color:white ;
}
.esportes {
	color:white ;
}
.famosos {
	color: white;
}


	.menu-principal a {
		display: block;
		padding-right: 1em;
		margin-right: 1em;
		font-family: 'Montserrat', sans-serif;

	}
		.menu-principal a:hover {
			opacity: 0.8;
		}


/* lista de notícias */
.chamada {
	border-bottom: 1px dotted #ccc;
	display: block;
	margin-bottom: 1em;
	padding-bottom: 1em;

	text-decoration: none;
	width: 100%;
	overflow: hidden;
}
	.chamada:last-child {
		border-bottom: 0;
	}

	.chamada img {
		border-radius: 5px;
		display: block;
		float: left;
		margin-right: 0.8em;

	}
		.chamada.mini img {
			margin-bottom: 0.4em;
		}
	.chamada:hover h2 {
		text-decoration: underline;
	}

	.chamada.principal h2 {
		font-size: 1.8em;
		line-height: 1.05;
	}
	.chamada.normal h2 {
		font-size: 1em;
	}
	.chamada.secundaria h2 {
		font-size: 0.6em;
	}
	.chamada.mini {
		padding-right: 0.35em;
	}
		:not(.mini) .chamada.mini + .mini {
			padding-left: 0.35em;
			padding-right: 0;
		}


/* direita da TV */
.chamada.tv {
	border: 1px solid #ccc;
	border-radius: 5px;
}
	.tv img {
		border-radius: 3px 3px 0 0;
		margin-top: -1px;
	
	}
	.tv p {
		clear: both;
		color: #999;
		padding: 1.4em 1em 0.25em;
	}
	.tv h2 {
		padding: 0 1em;
		margin: 0;
		border: 0;
	}
	.tv .bolinha {
		display: inline-block;
		border-radius: 50%;
		background: #aaa;
		height: 7px;
		width: 7px;
		margin-top: 1.4em;
	}
		.tv .bolinha:first-of-type {
			background: #555;
			margin-left: 1.5em;
		}

   .fone-jbl{
    height: 500px;
    margin-left: 30px;
    margin-top: 10px;
border-radius: 12px;
   } 
   .fone{
    height: 1300px;
    width: 1200px;
    background-color: #17EBCB;
margin-left: 400px;
margin-top: 100px;
border-radius: 28px;
align-items: center;
position: absolute;
   }
   .txt-jbl{
    color: black;
    font-size: 30px;
    width: 1300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

   .btn-compra{
    margin-left: 800px;
    border-radius: 4px;
    height: 40px;
    width: 180px;
	background-color: lightgreen;
	border-style: solid;
	animation: color2 4s infinite;
    margin: 15px;
	
   }
   @keyframes color2{
	0%{
		border: 1px solid  rgb(30,255 ,0 );
        box-shadow: 0px 0px 20px rgb(30,255 ,0 );
    }
    25%{
        border: 1px solid  rgb(255,238,0);
        box-shadow: 0px 0px 20px  rgb(255,238,0);
    }
    50%{
        border: 1px solid  rgb(30,255 ,0 );
        box-shadow: 0px 0px 20px rgb(30,255 ,0 );
    }
    75%{
		border: 1px solid  rgb(30,255 ,0 );
        box-shadow: 0px 0px 20px rgb(30,255 ,0 );
    }
    100%{
		border: 1px solid  rgb(30,255 ,0 );
        box-shadow: 0px 0px 20px rgb(30,255 ,0 );
    }
   }


#btn-comprar  :hover{
        transform: scale(1.1);
       
    }
   
   h3{
    
    font-size: 30PX;
   }
   li{
    color:black;
    
   }

   
   .txt-jbl2{
	color:black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

   }
   p{
	margin-left: 340px;
   }
   #qtdn{
	margin-left: 800px;
	width: 100px;
	border-radius: 5px;
   }
   .tema-fundo{
	background-color: #27284B;
	height: 180vh;
   }
   .list-2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   #qtd{
	color: red;
   }



   @media  (max-width:800px){
   .fone{
	margin-left: 70px;
	height: 90%;
    width: 80%;
   }
   .txt-jbl{
	font-size: 20px;
   }

  .btn-compra{
	margin-left: -40%;
  }
  #qtdn{
	margin-left: 10%;

  }
   }
@media (max-width:600px) {
	.fone{
		padding: 1em;
		margin: 0;
		height: 100%;
		width: 70%;
		max-width: 400px;
		position: fixed;
		z-index: 1;
		
		
	  }
	.txt-jbl{
	 font-size: 16px;

	}
	#preco{
		margin-left: 20%;
	}
	.btn-compra{
		margin-left: 30%;
	}
}

@media  (max-width:1600px){
	.fone{
		height: 90%;
		width: 80%;
		margin-left: 8%;
	}
}